@import './globals/variables';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $page-font;
  font-size: 100%;
  background-color: $color-background;
}

#root {
  // border: $border-stock;
  margin: 0;
  // height: 100vh;
  // padding: 1rem;
}

.App {
  border: $border-stock;
  // height: 100%;
  display: flex;
  flex-direction: column;
  padding: $padding-thin;

  .app-header {
    width: 100%;
    border: $border-stock;
    padding-left: $padding-stock;

    h1 {
      margin: 0;
    }
  }

  .app-content {
    // height: 100%;
    padding: $padding-stock;
    display: flex;
    justify-content: space-between;
    gap: $gap-thick;
  }
}

button {
  svg {
    pointer-events: none;
  }
}

button:hover,
select:hover {
  cursor: pointer;
  color: $color-active;
}

input:hover,
select:hover,
textarea:hover {
  border-color: $color-active;
}

input:focus,
select:focus,
textarea:focus {
  border-color: $color-active;
  outline: none;
}

@media screen and (max-width: $screen-break-l) {
}

@media screen and (orientation: portrait) {
}
