@import "./variables";

.App {
  display: flex;
  flex-direction: column;

  #app-header {
    border: $border-stock;
    background-color: $color-primary;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app-content {
    min-height: 90vh;
    display: flex;
    gap: 1rem;
    padding: $padding-stock;
  }

}

@media screen and (max-width: $screen-break-l) {}

@media screen and (orientation: portrait) {
  .app-content {
    flex-direction: column;
  }
}