@import "./variables";

.App {
  border: 8px solid purple;
  width: 1200px;
  height: 100vh;
}

@media screen and (max-width: $screen-break-l) {
}

@media screen and (orientation: portrait) {
  .app-content {
    flex-direction: column;
  }
}
