@import "./variables";

.Dashboard {
  background-color: $color-background;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .dash-header {
    border: $border-stock;
    background-color: $color-primary;
    padding: $padding-stock;
    display: flex;

    input,
    select {
      width: 8rem;
      height: 1.4rem;
    }

    button {
      background: none;
      border: none;
      font-size: $font-size-xxxlarge;
    }
  }

  .project-list {
    border: $border-stock;    
    border-top: none;
    background-color: $color-panel-background;
    height: 100%;
    padding: $padding-stock;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: $gap-stock;

    button {
      border: $border-stock;
      background-color: $color-ternary;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        padding-left: $padding-stock;
        font-size: $font-size-xxxlarge;
      }

      p {
        margin: none;
        pointer-events: none;
        padding-right: $padding-stock;
        font-size: $font-size-xxlarge;
        font-weight: bold;
      }
    }

    button:hover {
      border-color: $color-active;
      color: $font-color;
    }
  }
}
