@import "./variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $page-font;
  font-size: 100%;
  background-color: $color-background;
}

#root {
  margin: 0;
}
