// Add all global styles here

@import "./variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $page-font;
  font-size: 100%;
  background-color: $color-background;
  height: 100vh;
}

// Will need to change some of these to format for other screen sizes.
#root {
  margin: 0;
  border: 8px solid purple;
  width: 1200px;
  height: 800px;
  overflow-y: scroll;
}

button {
  svg {
    pointer-events: none;
  }
  i {
    pointer-events: none;
  }
}

button:hover,
select:hover {
  cursor: pointer;
  color: $color-active;
}

