@import "./variables";

.Menu {
  background-color: $color-panel-background;
  display: flex;
  align-items: center;
  gap: $gap-thin;

  .dash-controls {
    padding: $padding-stock;
    margin-left: auto;
    margin-right: $margin-thin;
    display: flex;
    justify-content: center;
    gap: 0.4rem;

    .control-row {
      display: flex;
      gap: 1rem;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      display: flex;

      i {
        font-size: 1.4rem;
      }
    }

    label {
      display: none;
    }

    input {
      width: 8rem;
      height: 1.4rem;
    }

    select {
      width: 8rem;
      height: 1.4rem;
    }
  }

}
