@import "./variables";

.ProjectForm {
  background-color: $color-background;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-thick;

  button {
    background: none;
    border: none;
    font-size: $font-size-xxxlarge;
  }

  .form-header {
    border: $border-stock;
    background-color: $color-primary;
    padding: $padding-stock;
    display: flex;

    span {
      margin: auto;
      font-weight: bold;
      font-size: $font-size-xxlarge;
    }

    button {
      background: none;
      border: none;
      font-size: $font-size-xxxlarge;
    }

    button[name="create-project"],
    button[name="save-project"],
    button[name="delete-project"] {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    button[name="close-project"] {
      margin-left: auto;
      margin-right: $margin-stock;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    span {
      width: 100%;
      font-weight: bold;
      font-size: $font-size-xxlarge;
    }

    label {
      display: block;
      font-size: $font-size-xlarge;
    }

    input,
    select,
    textarea {
      display: block;
      border: $border-thin;
      font-size: $font-size-xlarge;
      padding-left: $padding-stock;
    }

    input:hover,
    select:hover,
    textarea:hover {
      border-color: $color-active;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border: 4px solid $color-active;
      outline: none;
    }
  }

  .project-info {
    border: $border-stock;
    background-color: $color-panel-background;
    width: 80rem;
    height: 40rem;
    padding: $padding-stock;
    display: flex;
    flex-direction: column;
    gap: $gap-stock;
    overflow-y: scroll;

    .project-info-inputs {
      display: flex;
      flex-direction: column;
      gap: $gap-stock;
    }

    .project-info-name,
    .project-info-client,
    .project-info-date {
      display: flex;
      gap: $gap-stock;
    }

    .project-info-description {
      display: flex;
      flex-direction: column;
      gap: $gap-stock;
    }

    input[name="name"],
    input[name="client"] {
      width: 20rem;
    }

    input[name="url"],
    input[name="client-url"] {
      width: 30rem;
    }

    input[name="start-date"],
    input[name="end-date"] {
      width: 16rem;
    }

    input[name="start-date"]:hover,
    input[name="end-date"]:hover {
      cursor: pointer;
    }

    input[name="short"] {
      width: 30rem;
    }

    .TextArea {
      width: 100%;
    }

    textarea[name="description"] {
      height: 20rem;
      width: 100%;
      overflow-y: scroll;
    }
  }

  .photos-input {
    border: $border-stock;
    background-color: $color-panel-background;
    width: 40rem;
    height: 30rem;
    padding: $padding-stock;
    display: flex;
    flex-direction: column;
    gap: $gap-stock;

    .photo-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .photo-info {
      display: flex;
      flex-direction: column;
    }

    .photo-list {
      border: $border-thin;
      padding: $padding-stock;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: $gap-stock;

      .photo-thumb {
        border: $border-thin;
        border-radius: $border-radius-stock;
        position: relative;
        width: 8rem;
        height: 8rem;

        img {
          width: 98%;
          height: 98%;
          object-fit: contain;
        }

        button {
          padding: 0;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }

  .repos-input {
    border: $border-stock;
    background-color: $color-panel-background;
    width: 40rem;
    height: 30rem;
    padding: $padding-stock;
    display: flex;
    flex-direction: column;
    gap: $gap-stock;

    .repo-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .repo-info {
      display: flex;
      flex-direction: column;
    }

    .repo-list {
      border: $border-thin;
      padding: $padding-stock;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: $gap-stock;

      .repo-thumb {
        border: $border-thin;
        border-radius: $border-radius-stock;
        position: relative;
        width: 8rem;
        height: 8rem;

        img {
          width: 98%;
          height: 98%;
          object-fit: contain;
        }

        button {
          padding: 0;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }

  .tags-input {
    border: $border-stock;
    background-color: $color-panel-background;
    width: 40rem;
    height: 30rem;
    padding: $padding-stock;
    display: flex;
    flex-direction: column;
    gap: $gap-stock;

    .tag-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tag-info {
      display: flex;
      flex-direction: column;
    }

    .tag-list {
      border: $border-thin;
      padding: $padding-stock;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: $gap-stock;

      .tag-thumb {
        border: $border-thin;
        border-radius: $border-radius-stock;
        position: relative;
        width: 8rem;
        height: 8rem;

        img {
          width: 98%;
          height: 98%;
          object-fit: contain;
        }

        button {
          padding: 0;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
}

@media screen and (orientation: portrait) {
}
