@import "./variables";

.project-list {
  // background-color: $color-background;
  // display: flex;
  // flex-direction: column;

  // .dash-header {
  //   border: $border-stock;
  //   background-color: $color-primary;
  //   padding: $padding-stock;
  //   display: flex;

  //   input,
  //   select {
  //     width: 8rem;
  //     height: 1.4rem;
  //   }

  //   button {
  //     background: none;
  //     border: none;
  //     font-size: $font-size-xxxlarge;
  //   }
  // }

  // .project-list {
  // border: $border-thin;
  background-color: $color-panel-background;
  height: 100%;
  padding: $padding-stock;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: $gap-stock;

  button {
    border: $border-stock;
    background-color: $color-ternary;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    i {
      margin: none;
      // border: $border-stock;
      padding-left: $padding-stock;
      font-size: $font-size-xxxlarge;
    }

    p {
      // border: $border-stock;
      margin: none;
      pointer-events: none;
      padding-right: $padding-stock;
      font-size: $font-size-xxlarge;
      font-weight: bold;
    }
  }

  button:hover {
    border-color: $color-active;
    color: $font-color;
  }
  // }
}
