@import "../../styles/variables";

nav {
  border: $border-stock;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
}

@media screen and (orientation: landscape) {
}

@media screen and (orientation: portrait) {
}
