@import "../../styles/variables";

.Project {
  border: $border-stock;
  padding: $padding-stock;
  height: 68vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .header {
    border: $border-stock;
    background-color: $color-primary;
    height: 4rem;
    display: flex;
    align-items: center;

    p {
      margin-left: $padding-stock;
      margin-right: auto;
      font-size: $font-size-xlarge;
      font-weight: bold;
    }

    button {
      border: none;
      background: none;
      margin-left: $padding-stock;
      margin-right: $padding-stock;
      font-size: 1.6rem;
    }
  }

  .content {
    border-top: none;
    // use grid instead?
    // display: flex;
    // flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) {
}

@media screen and (orientation: portrait) {
}
