@import "../../styles/variables";

#app-form {
  // width: 80vw;
  display: flex;
  flex-direction: column;
  width: 100%;

  #app-form-header {
    border: $border-stock;
    background-color: $color-primary;
    height: 4rem;
    width: 100%;
    padding: $padding-stock;
    margin-bottom: $margin-stock;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: $font-size-xlarge;
      padding-left: $padding-stock;
      padding-right: auto;
    }

    div {
      display: flex;
      gap: $gap-thick;
      padding-left: $padding-stock;
    }

    button {
      font-size: 1.6rem;
      background: none;
      border: none;
      padding: 0;
    }

  }

  #app-form-content {
    border: $border-stock;
    height: 100%;
    // padding: $padding-stock;
    display: flex;
    text-align: center;

    h2 {
      width: 100%;
      text-align: center;
    }

  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {}

@media screen and (orientation: portrait) {}