@import "../../styles/variables";

.project-list {
  background-color: $color-panel-background;
  height: 100%;
  padding: $padding-stock;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: $gap-stock;

  button {
    border: $border-stock;
    background-color: $color-ternary;
    text-align: center;

    i {
      margin: none;
      padding-left: $padding-stock;
      font-size: $font-size-xlarge;
    }

    p {
      margin: none;
      pointer-events: none;
      font-size: $font-size-large;
      font-weight: bold;
    }
  }

  button:hover {
    border-color: $color-active;
    color: $font-color;
  }
}
