@import "../../styles/variables";

.project-list {
  background-color: $color-panel-background;
  height: 100%;
  padding: $padding-stock;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: $gap-stock;

  button {
    border: $border-stock;
    background-color: $color-ternary;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    i {
      margin: none;
      padding-left: $padding-stock;
      font-size: $font-size-xxxlarge;
    }

    p {
      margin: none;
      pointer-events: none;
      padding-right: $padding-stock;
      font-size: $font-size-xxlarge;
      font-weight: bold;
    }
  }

  button:hover {
    border-color: $color-active;
    color: $font-color;
  }
}
